* {
  margin: 0;
  padding: 0;
  font-family: raleway;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 999;
  background-color: #87B5A1;
}

.hide {
  display: none;
}

h1 {
  margin: 2%;
}

.timer {
  position:absolute;
  top: 10px;
  right: 10px;
  font-size: 1.75rem;
  border: 1px solid aquamarine;
  background-color: aquamarine;
  padding: 10px 10px;
  border-radius: 10px;
}

.warning {
  position: absolute;
  top: 65px;
  right: 20px;
}

h2 {
  margin: 2%;
  font-size: 2rem;
}

button {
  font-size: 1.5rem;
  padding: 1.1rem;
  margin-bottom: 15px;
  background-color: aquamarine;
  border: none;
}

.questiondiv button:hover {
  background-color: aqua;
  scale: 1.1;
  cursor: pointer;
}

div {
  display: flex;
  flex-direction: column;
}

p {
    font-size: 1.3rem;
    text-align: center;
    line-height: 2rem;
    
}

p:not(:nth-of-type(1)) {
    background-color: red;
    border: 1px solid black;
    padding: 0 10px;
}

#overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.95);
    z-index:9999;
    color:white;
    height: 100vh;
    
}

.mb {
    margin-bottom: 15px;
}

.return, .highscore {
    cursor: pointer;
}

#overlay p {
  background-color: rgba(0, 0, 0, 0);
  border: none;

}